<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="footer">
    </div>
    <div th:fragment="footer-js">
        <!--  Scripts-->
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript"  th:src="@{/js/materialize.js}"></script>
        <script  th:src="@{/js/init.js}"></script>
    </div>
</body>
</html>