<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Test description"/>
        <meta name="author" content="PhD Student Gerardo Lagunes García"/>
        <!--<link rel="icon" href="../../favicon.ico"/>-->

        <!-- CSS  -->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet"  th:href="@{/css/materialize.css}" media="screen,projection" />
        <link type="text/css" rel="stylesheet"  th:href="@{/css/style.css}" media="screen,projection" />
    </div>
</head>
<body>

</body>
</html>